.skill-icon {
  width: 60px;
  height: 60px;
  padding: .25rem;
  /* gap: 0.25rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(13, 110, 253, 0.25);
  border-radius: .5rem;
  margin: 0 auto;
}

.skill-icon img {
  /* max-width: 40px;   /* reduce logo size */
  /* max-height: 40px; */ 
  object-fit: contain;
  max-width: 70%;
  max-height: 70%;
}

.skills-row {
  --bs-gutter-x: 0.25rem;
  --bs-gutter-y: 0.25rem;
}

.skill-icon:hover {
  transform: scale(1.1);
}